# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt


# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
.pnp
.next/
out/


# Data and Models
data/
*.zip
backend/venv/
backend/predictions.db
model\models\phase1_checkpoint.pkl
model\models\phase2_checkpoint.pkl
model/models/*.pth
frontend/.env.local.example
frontend/node_modules/